@font-face {
  font-family: Quicksand;
  src: url("Quicksand font 1/Quicksand-VariableFont_wght.ttf");
}
* {
  margin: 0;
  font-size: 1rem;
  font-family: Quicksand;
  font-weight: 600;
  background-color: #eeeeee;
}

/* Header */
.header {
  background-image: url("header pattern svg.svg");
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
}
.header * {
  margin-right: 3em;
  background-color: rgba(0, 0, 0, 0);
}
.header #logo-header {
  margin: 0.8em auto 0.7em 2em;
}
.header #acc-circle {
  margin-right: 2em;
}
.header #hamburger-menu {
  display: none;
}
.header a {
  font-size: 1rem;
  font-family: Quicksand;
  font-weight: 600;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #3fd28b;
  font-weight: bold;
}

/* Selection Bar */
.bar {
  height: 5em;
  margin: 2em 2em auto 2em;
  display: flex;
  align-items: center;
  background-color: #8ddc97;
}
.bar .bar-box {
  background-color: inherit;
  width: 100%;
}
.bar .bar-box .bar-section {
  font-size: 1.2rem;
  font-family: Quicksand;
  font-weight: 600;
  color: #222222;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: inherit;
}
.bar .bar-box .bar-section:nth-of-type(1) {
  height: 92%;
}
.bar .bar-box #course-icon {
  background-color: inherit;
  margin-right: 0.8em;
}
.bar .bar-box #class-icon {
  background-color: inherit;
  margin-left: 3.5em;
  margin-right: 1.5em;
}
.bar .bar-box .bar-txt {
  background-color: inherit;
  font-size: 1.5rem;
  font-family: Quicksand;
  font-weight: 600;
  color: #222222;
}
.bar .bar-box .bar-txt:nth-of-type(2n + 1) {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 0.2em;
}
.bar .bar-box:nth-of-type(1) {
  height: 92%;
  border-bottom: 4px solid #222222;
}

/* Info bar */
.info-bar {
  height: 4em;
  margin: 6.5em 2em auto 2em;
  display: flex;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 1.5em;
  border-bottom: rgba(0, 0, 0, 0.12) solid 1px;
}
.info-bar span,
.info-bar label {
  font-size: 1rem;
  font-family: Quicksand;
  font-weight: 600;
  color: #686868;
  margin-right: auto;
}
.info-bar label {
  margin-right: 0.5em;
}
.info-bar select {
  font-size: 1.2rem;
  font-family: Quicksand;
  font-weight: 600;
  height: 1.2em;
  width: 10em;
  color: #333333;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.12) solid 1px;
}
.info-bar img {
  margin-left: 2em;
}

/* card */
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  width: 92%;
  margin: auto;
  margin-bottom: 4em;
}

.card {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  padding-top: 2em;
}
.card .box1 {
  background-color: inherit;
  grid-column: 1/8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .box1 img {
  width: 80%;
}
.card .box2 {
  background-color: inherit;
  grid-column: 8/19;
}
.card .box2 * {
  margin-bottom: 2px;
}
.card .box2 h2 {
  background-color: inherit;
  font-size: 1.5rem;
  color: #222222;
}
.card .box2 div,
.card .box2 span,
.card .box2 select {
  background-color: inherit;
}
.card .box2 .box2-title {
  display: flex;
  align-items: center;
}
.card .box2 .box2-title h2 {
  width: 80%;
  background-color: inherit;
  font-size: 1.2rem;
  color: #222222;
  margin-right: auto;
}
.card .box2 .box2-title #icon-favourite {
  width: 2em;
  margin-right: 0.5em;
  background-color: inherit;
}
.card .box2 .box2-subject span {
  font-family: Quicksand;
  font-weight: 600;
  color: #666666;
}
.card .box2 .box2-subject span:last-child {
  color: #1f7a54;
}
.card .box2 .box2-detail span {
  font-family: Quicksand;
  font-weight: 600;
  color: #666666;
}
.card .box2 .box2-detail span:nth-of-type(2n + 1) {
  font-weight: bold;
  color: #222222;
}
.card .box2 .box2-teacher select {
  font-size: 1.2rem;
  font-family: Quicksand;
  font-weight: 600;
  color: #222222;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.38) solid 1px;
  margin-top: 1em;
  margin-bottom: 0.2em;
}
.card .box2 .box2-student {
  font-family: Quicksand;
  font-weight: 600;
  color: #666666;
}
.card .box3 {
  background-color: inherit;
  grid-column: 1/-1;
  padding-bottom: 0.8em;
}
.card .card-icons {
  height: 4.5em;
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 1.5em;
}
.card .card-icons::before {
  border-top: rgba(0, 0, 0, 0.12) 1px solid;
}
.card .card-icons img {
  background-color: inherit;
  width: 1.8em;
  height: 1.8em;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer .footer1 {
  align-self: center;
  font-size: 1.2rem;
  font-family: Quicksand;
  font-weight: 600;
  color: #1f7a54;
  display: flex;
  margin-bottom: 1em;
}
.footer .footer1 a {
  color: #1f7a54;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin: 0 0.3em;
}
.footer .footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e1e1;
}
.footer .footer2 * {
  background-color: inherit;
  margin: 1.2em 0.5em;
  font-size: 1rem;
  color: #616161;
}
.footer .footer2 span:nth-of-type(3) {
  font-weight: bold;
}

/* Responsive */
@media (min-width: 1920px) {
  html {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .header a {
    display: none;
  }
  .header #hamburger-menu {
    display: block;
  }
  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 6px;
  }
  #course-icon,
#class-icon {
    height: 3.5em;
  }
}/*# sourceMappingURL=dashboard.css.map */