@font-face {
  font-family: Quicksand;
  src: url("Quicksand font 1/Quicksand-VariableFont_wght.ttf");
}

@mixin fontFam() {
  font-family: Quicksand;
  font-weight: 600;
}

* {
  background-color: #eeeeee;
  margin: 0;
  font-size: 1rem;
  @include fontFam();
}

/* Header */
.header {
  background-image: url("header pattern svg.svg");
  border-bottom: #31b9e4 solid 2px;
  width: 100%;
  position: fixed;
  top: 0;
  img {
    background-image: url("header pattern svg.svg");
    margin: 1.5em auto 0.9em 2em;
  }
}

/* Body */
.main {
  width: 40em;
  background-color: #ffffff;
  margin: auto;
  margin-top: 9em;
  border-top: #3ac7ec solid 4px;

  form {
    background-color: inherit;
    width: 35em;
    margin-left: 3em;
    margin-bottom: 3em;

    .category {
      background-color: inherit;
      margin-top: 3em;
      display: flex;
      align-items: center;
      #dist {
        margin-right: 0.6em;
      }
      #school {
        margin-right: 0.6em;
        margin-left: 3em;
      }
      label {
        background-color: inherit;
        color: #333333;
        font-size: 1.5rem;
        @include fontFam();
      }
    }

    .dropdown {
      background-color: inherit;
      display: flex;
      flex-direction: column;
      margin-top: 2em;
      select {
        font-size: 1.5rem;
        @include fontFam();
        background-color: inherit;
        border: none;
        border-bottom: solid rgba(0, 0, 0, 0.12) 1px;
        height: 1.8em;
        margin-bottom: 0.4em;
        color: #222222;
      }
      label {
        background-color: inherit;
        color: #666666;
      }
      &:nth-of-type(3) {
        margin-top: 3em;
        margin-bottom: 5em;
      }
    }

    .credentials {
      background-color: inherit;
      display: flex;
      flex-direction: column;
      color: #666666;
      font-size: 1.5rem;
      @include fontFam();

      input {
        background-color: inherit;
        border: none;
        border-bottom: solid rgba(0, 0, 0, 0.12) 1px;
        height: 2em;
        margin-bottom: 0.5em;
      }
      a {
        background-color: inherit;
        align-self: flex-end;
        font-size: 1.2rem;
        @include fontFam();
        color: #1f7a54;
        text-decoration-line: none;
      }
    }

    #credentials-pwd {
      margin-top: 2em;
      margin-bottom: 1.5em;
    }

    .rem {
      font-size: 1.5rem;
      background-color: inherit;
      margin-bottom: 3em;
      display: flex;
      align-items: center;
      label {
        background-color: inherit;
      }
      input {
        margin-right: 0.5em;
      }
    }

    .btn {
      background-color: inherit;
      display: flex;
      justify-content: center;
      button {
        background-color: #3fd28b;
        width: 15em;
        height: 3em;
        margin: auto;
        margin-bottom: 2em;
        font-size: 1.2rem;
        color: #1f2834;
        border: none;
        border-radius: 0.8em;
      }
    }
  }
}

/* Title in body */
.title {
  background-color: inherit;
  display: flex;
  align-items: center;
  margin-top: 1.8em;
  img {
    background-color: inherit;
    height: 2em;
    margin-left: 2.5em;
  }
  div {
    background-color: inherit;
    margin-left: 3em;
    font-size: 2rem;
    @include fontFam();
    font-weight: bold;
    color: #222222;
  }
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  .footer1 {
    align-self: center;
    font-size: 1.2rem;
    @include fontFam();
    color: #1f7a54;
    display: flex;
    margin-bottom: 1em;
    a {
      color: #1f7a54;
      text-decoration-line: none;
      margin: 0 0.3em;
    }
  }
  .footer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e1e1;
    * {
      background-color: inherit;
      margin: 1.2em 0.5em;
      font-size: 1rem;
      color: #616161;
    }
    span:nth-of-type(3) {
      font-weight: bold;
    }
  }
}

/* Responsive */

@media (min-width: 1920px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 550px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 6px;
  }
  .main {
    margin-top: 15em;
  }
}
