@font-face {
  font-family: Quicksand;
  src: url("Quicksand font 1/Quicksand-VariableFont_wght.ttf");
}
* {
  background-color: #eeeeee;
  margin: 0;
  font-family: Quicksand;
}

/* Header */
.header,
.header img {
  background-image: url("header pattern svg.svg");
}
.header {
  border-bottom: #31b9e4 solid 2px;
  width: 100%;
  position: fixed;
  top: 0;
}
.header img {
  margin: 10.5px auto 9.5px 24px;
}

/* Body */
.main {
  width: 488px;
  background-color: #ffffff;
  margin: auto;
  margin-top: 108px;
  border-top: #3ac7ec solid 4px;
}

/* Title in body */
.title {
  background-color: inherit;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.title img {
  background-color: inherit;
  height: 26px;
  margin-left: 32px;
}
.title div {
  background-color: inherit;
  margin-left: 77px;
  font-family: Quicksand;
  font-size: 24px;
  font-weight: bold;
  color: #222222;
}

/* Form */
.main form {
  background-color: inherit;
  width: 424px;
  margin-left: 32px;
  margin-bottom: 32px;
}

/* Category in Form */
.main form .category {
  background-color: inherit;
  margin-top: 34px;
  display: flex;
  align-items: center;
}

.main form .category input {
  margin-right: 8px;
}
.main form .category input:nth-of-type(2) {
  margin-left: 32px;
}

/* .main form .category svg {
  margin-right: 8px;
}
.main form .category svg:nth-of-type(2) {
  margin-left: 32px;
} */

.main form .category label {
  background-color: inherit;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}

/* Dropdown in form */
.main form .dropdown {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.main form .dropdown select {
  background-color: inherit;
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.12) 1px;
  height: 25px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #222222;
  font-weight: 600;
}
.main form .dropdown label {
  background-color: inherit;
  font-size: 12px;
  color: #666666;
}
.main form .dropdown:nth-of-type(3) {
  margin-top: 36px;
  margin-bottom: 56px;
}

/* Credentials in form */
.main form .credentials {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  color: #666666;
  font-size: 16px;
}
.main form .credentials input {
  background-color: inherit;
  border: none;
  border-bottom: solid rgba(0, 0, 0, 0.12) 1px;
  height: 25px;
  margin-bottom: 5px;
}
.main form .credentials a {
  background-color: inherit;
  align-self: flex-end;
  font-size: 14px;
  color: #1f7a54;
  font-weight: 600;
  text-decoration-line: none;
}
.main form div:nth-of-type(5) {
  margin-top: 33px;
  margin-bottom: 24px;
}

/* Checkbox in form*/
.main form .rem {
  background-color: inherit;
  margin-bottom: 32px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.main form .rem label {
  background-color: inherit;
}
.main form .rem input {
  margin-right: 5px;
}

/* Login form */
.main form .btn {
  background-color: inherit;
  display: flex;
  justify-content: center;
}
.main form .btn button {
  background-color: #3fd28b;
  width: 215px;
  height: 40px;
  margin: auto;
  margin-bottom: 24px;
  font-size: 14px;
  color: #1f2834;
  border: none;
  border-radius: 10px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer div:nth-of-type(1) {
  align-self: center;
  font-size: 14px;
  font-weight: 600;
  color: #1f7a54;
  display: flex;
  margin-bottom: 16px;
}
.footer div:nth-of-type(1) a {
  color: #1f7a54;
  text-decoration-line: none;
  margin: 0 5px;
}
.footer div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e1e1;
}
.footer div:nth-of-type(2) * {
  background-color: inherit;
  margin: 15px 5px;
  font-size: 12px;
  color: #616161;
}
.footer div:nth-of-type(2) span:nth-of-type(3) {
  font-weight: bold;
}

@media (max-width: 768) {
}
